/* color palette */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0d0d0d;
    --white: #f2f2f2;
    --teal: #7abfbf;
    --lt-teal: #7abfbf80;
    --orange: #eb5428;
}

/* fonts
font-family: "Montserrat", sans-serif;
font-family: "Bebas Neue", sans-serif; */


html {
    background-color: var(--lt-teal);
}

body {
    font-family:"Bebas Neue", sans-serif;
    color: var(--black);
    max-width: 1200px;
    margin: 0 auto;
}

li, nav, input, p, dd {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

dt {
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: var(--white);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: var(--orange);
}

nav svg {
    width: 40px;
    height: 40px;
    stroke: var(--orange);
}

.nav-img {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.actions {
    display: grid;
}


h1 {
    width: 1200px;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding-top: 50px;

}

.container {
    display: flex;
}

.container p {
    float: left;
}

.recipe-sides {
    display: flex;
    background-color: var(--teal);
    margin: 0;
    padding-top: 60px;
    padding-left: 30px;
}

.recipe-sides h3 {
    text-align: center;
    float: left;
}

.recipe-details {
    background-color: #0d0d0d;
    color: var(--teal);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.recipe-details h3 {
    grid-row: 1;
    grid-column: 1 / 6;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--white);
}

.parent h3 {
    text-align: center;
}

.recipe-directions {
    grid-column: 2 / 4;
    width: 900px;
    margin-left: 100px;
}

.social-media li {
    list-style-type: none;
}

.social-media {
    display: grid;

}

.social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


footer {
    background-color: white;
    display: flex;
    
}


@media (max-width: 1100px) {
    .recipe-details {
        background-color: var(--white);
        display: block;
        color: var(--black);
        margin: 0;
        padding-bottom: 0px;
    }

    .parent {
        margin: 0;
        display: flex;
    }
}

@media (max-width: 700px) {
    .small {
        display: flex; 
    }
}